.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  z-index: 17;

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30rem;
    background-color: #fff;
    z-index: 19;

    .links {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      z-index: 18;

      a {
        font-size: 2rem;
      }
    }
  }

  button {
    z-index: 20;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
